# Virtual Environment
venv/
venv*

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# IDE specific
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite
*.db

# System files
.DS_Store
Thumbs.db

# Test and coverage
htmlcov/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test and coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code
.vscode/

# macOS
.DS_Store

# 集思录数据表格
qdii_tables/*.csv
